body{
    /* background: linear-gradient(to bottom,  #f1f2f3, #0f0f0f); */
    text-align: center;
    margin: auto 20%;
    background: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app {
    border: black solid 2px;
    border-radius: 15px;
    padding: 20px;
    max-width: 100%;
    min-width: 50%;
    height: auto;
    background: linear-gradient(to bottom, #f8b500, #fceabb);
}

input {
height: 40px;
font-size: 20px;
max-width: 200%;
}

button{
    width: 150px;
}
#output{
    color: green;
}
input:hover{
    border: white solid 1.5px;
}
button:hover{
    font-size: 30px;
    font-style: bold;
    border: burlywood solid .5px
}
button {
    font-size: 25px;
    font-family: cursive;

}
